img {
    max-width: 100%;
    height: auto;
    border: black 3px solid;
}
#login {
    background-color: antiquewhite;
}
#login::backdrop {
    background:radial-gradient(farthest-side,rgb(203, 199, 199),rgb(28, 64, 19),black);
}


#profileForm {
    background-color: antiquewhite;
    margin: auto;
    text-align: left;
    padding: 2.5%;
    
    width: 50%;
    border: solid black 7px;
}
textarea {
    resize: none;
    width: 100%;
    height: 5lh;
}
fieldset {
    width: fit-content;
}
fieldset input {
    border: 2px solid black;
}
#curLog {
    margin-bottom: 2px;
    margin-right: 15px;
    border-bottom: solid black 1px;
}
#imgBut {
    display: inline-flex;
    float: right;
}
.log {
    background-color: antiquewhite;
    border: ridge black 5px;
    max-width: fit-content;
    padding: 10px;
    margin: auto;
}
body {
    text-align: center;
}


.left {
    display: block;
    margin: 0 auto;
}
.right {
    float: right;
}