p {
    background-color:gainsboro;
}

a:link, a:visited {
color: green;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}

h1 {
    background-image:url('images/rear.png');
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: contain;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    font-size: large;
  }